<div style="height: 100%; width: 100%; padding: 30px 100px 30px 100px; background: #192C47; color: white" fxLayout="row">
  <div style="height: 100%; width: 100%;">
    <div style="margin-bottom: 7px;">Our Territory</div>
    <!-- <mat-divider style="width: 80%; margin-bottom: 20px; color:white"></mat-divider> -->
    <div style="border: .5px solid white; width: 80%; margin-bottom: 20px;"></div>
    <div fxLayout="row" fxLayoutGap="80px">
      <div fxLayout="column">
        <div>Patiala</div>
        <div>Chandigarh</div>
        <div>Rajpura</div>
        <div>Zirakpur</div>
        <div>Mohali</div>
        <div>Panchkula</div>
      </div>
    </div>
  </div>
  <div style="height: 100%; width: 100%;">
      <div style="margin-bottom: 7px;">Categories</div>
      <!-- <mat-divider style="width: 80%; margin-bottom: 20px;"></mat-divider> -->
      <div style="border: .5px solid white; width: 80%; margin-bottom: 20px;"></div>
      <div fxLayout="row" fxLayoutGap="80px">
        <div fxLayout="column">
          <div>Patiala</div>
          <div>Chandigarh</div>
          <div>Rajpura</div>
          <div>Zirakpur</div>
          <div>Mohali</div>
          <div>Panchkula</div>
        </div>

        <div fxLayout="column">
            <div>Patiala</div>
            <div>Chandigarh</div>
            <div>Rajpura</div>
            <div>Zirakpur</div>
            <div>Mohali</div>
            <div>Panchkula</div>
          </div>
      </div>
  </div>
  <div style="height: 100%; width: 100%;">
      <div style="margin-bottom: 7px;">Be In Touch</div>
      <!-- <mat-divider style="width: 80%; margin-bottom: 20px;"></mat-divider> -->
      <div style="border: .5px solid white; width: 80%; margin-bottom: 20px;"></div>
      <div fxLayout="row" fxLayoutGap="30px">
        <mat-icon style="font-size: 40px">mood</mat-icon>
        <mat-icon style="font-size: 40px">mood_bad</mat-icon>
        <mat-icon style="font-size: 40px">star</mat-icon>
      </div>
  </div>
</div>