<div style="height: 100%; width: 100%" fxLayout="row">
  <mat-card style="height: 100%; width: 100%;" fxLayout="column">
    <div class="title" fxLayoutAlign="center center">SERVICES</div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: red"></div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: yellow"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: red"></div>
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: green"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: red"></div>
    </div>
  </mat-card>

  <mat-card style="height: 100%; width: 100%;" fxLayout="column">
    <div class="title" fxLayoutAlign="center center">PRODUCTS</div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: red"></div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: yellow"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: red"></div>
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: green"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: red"></div>
    </div>
  </mat-card>
</div>