<div style="height: 90%; width: 60%" fxLayout="row" fxLayoutGap="40px">
  <mat-card style="height: 100%; width: 100%; padding: 5px" fxLayout="column">
    <div class="title" fxLayoutAlign="center center">SERVICES</div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: white; color: #192C47; font-size: 14px;" fxLayoutAlign="center center" fxLayout="column"
        *ngFor="let line of services.coloum1; let j=index" (click)="goToServicePage(line, j)">
        <img style="height: 40px; width: 40px;" src="{{line.imageUrl}}" alt="">
        <span style="margin-top: 2px; padding: 5px; display:table-caption; text-align: center; line-height:14px;">{{line.data}}</span>
        <!-- <span style="margin-top: -5px;">Sevices</span> -->
      </div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: white; color: #192C47; font-size: 14px;" fxLayoutAlign="center center" fxLayout="column"
        *ngFor="let line of services.coloum2; let j=index" (click)="goToServicePage(line, j)">
        <img style="height: 40px; width: 40px;" src="{{line.imageUrl}}" alt="">
        <span style="margin-top: 2px; padding: 5px; display:table-caption; text-align: center; line-height:14px;">{{line.data}}</span>
        <!-- <span style="margin-top: -5px;">Sevices</span> -->
      </div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: white; color: #192C47; font-size: 14px;" fxLayoutAlign="center center" fxLayout="column"
        *ngFor="let line of services.coloum3; let j=index" (click)="goToServicePage(line, j)">
        <img style="height: 40px; width: 40px;" src="{{line.imageUrl}}" alt="">
        <span style="margin-top: 2px; padding: 5px; display:table-caption; text-align: center; line-height:14px;">{{line.data}}</span>
        <!-- <span style="margin-top: -5px;">Sevices</span> -->
      </div>
    </div>
  </mat-card>

  <mat-divider [vertical]="true"></mat-divider>

  <mat-card style="height: 100%; width: 100%; padding: 5px" fxLayout="column">
    <div class="title" fxLayoutAlign="center center">PRODUCTS</div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: white; color: #192C47; font-size: 14px;" fxLayoutAlign="center center" fxLayout="column"
        *ngFor="let line of products.coloum1; let j=index" (click)="goToProductPage(line, j)">
        <img style="height: 40px; width: 40px;" src="{{line.imageUrl}}" alt="">
        <span style="margin-top: 2px; padding: 5px; display:table-caption; text-align: center; line-height:14px;">{{line.data}}</span>
        <!-- <span style="margin-top: -5px;">Sevices</span> -->
      </div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: white; color: #192C47; font-size: 14px;" fxLayoutAlign="center center" fxLayout="column"
        *ngFor="let line of products.coloum2; let j=index" (click)="goToProductPage(line, j)">
        <img style="height: 40px; width: 40px;" src="{{line.imageUrl}}" alt="">
        <span style="margin-top: 2px; padding: 5px; display:table-caption; text-align: center; line-height:14px;">{{line.data}}</span>
        <!-- <span style="margin-top: -5px;">Sevices</span> -->
      </div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: white; color: #192C47; font-size: 14px;" fxLayoutAlign="center center" fxLayout="column"
        *ngFor="let line of products.coloum3; let j=index" (click)="goToProductPage(line, j)">
        <img style="height: 40px; width: 40px;" src="{{line.imageUrl}}" alt="">
        <span style="margin-top: 2px; padding: 5px; display:table-caption; text-align: center; line-height:14px;">{{line.data}}</span>
        <!-- <span style="margin-top: -5px;">Sevices</span> -->
      </div>
    </div>
  </mat-card>
</div>