<div style="height: 90%; width: 60%" fxLayout="row" fxLayoutGap="40px">
  <mat-card style="height: 100%; width: 100%; padding: 5px" fxLayout="column">
    <div class="title" fxLayoutAlign="center center">SERVICES</div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: white; color: #192C47; font-size: 14px;" fxLayoutAlign="center center" fxLayout="column">
        <img style="height: 40px; width: 40px;" src="../../assets/Tile/power-cord.png" alt="">
        <span style="margin-top: 7px">Electrical</span>
        <span style="margin-top: -5px;">Sevices</span>
      </div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: yellow"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: red"></div>
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: green"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row">
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: red"></div>
    </div>
  </mat-card>

  <mat-divider [vertical]="true"></mat-divider>

  <mat-card style="height: 100%; width: 100%; padding: 5px" fxLayout="column">
    <div class="title" fxLayoutAlign="center center">PRODUCTS</div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: red"></div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: yellow"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: red"></div>
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: green"></div>
    </div>

    <div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
      <div class="dimention" style="background: yellow"></div>
      <div class="dimention" style="background: grey"></div>
      <div class="dimention" style="background: green"></div>
      <div class="dimention" style="background: red"></div>
    </div>
  </mat-card>
</div>