<mat-toolbar color="primary" fxLayout="row" style="position: fixed; top: 0; z-index: 1;">
  <div style="height: 100%; width: 100%; background: red"></div>
  <div style="height: 100%; width: 100%; background: yellow"></div>
  <div style="height: 100%; width: 100%; background: green"></div>
</mat-toolbar>
<div style="height: 100%; width: 100%;">
  <div style="padding-top: 64px;"></div>
  <div style="height: 7%; width: 100%;" fxLayout="row">
    <div style="height: 100%; width: 100%; padding-left: 20px;" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu2
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu3
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu4
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu5
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu6
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
    <div fxFlex="20%" style="height: 100%; width: 100%; padding-right: 20px" fxLayoutAlign="end center" fxLayout="row">
      <button mat-raised-button color="primary">24/7 Emergency Call</button>
    </div>
  </div>

  <div>
    <app-corasal></app-corasal>
  </div>

  <div style="padding-top: 30px; margin: 30px 10%;">
    <app-tiles></app-tiles>
  </div>

  <div style="margin: 60px 10%;">
    <app-how-we-assist></app-how-we-assist>
  </div>

  <div style="margin: 0px 10%;">
    <app-what-we-do></app-what-we-do>
  </div>
</div>