<mat-toolbar fxLayout="row" style="position: fixed; top: 0; z-index: 1; background: #192C47">
  <div fxFlex="20%" style="height: 100%; width: 100%;"></div>
  <div fxFlex style="height: 100%; width: 100%; padding: 10px 10px 0 10px;" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="30px">
    <div class="headerCenter">Today's Deal</div>
    <div class="headerCenter">Customer Services</div>
    <div class="headerCenter">About Us</div>
    <div class="headerCenter">Shop</div>
    <div class="headerCenter">Contact Us</div>
  </div>
  <div fxFlex="20%" style="height: 100%; width: 100%; padding: 10px 10px 0 10px;" fxLayout="row" fxLayoutAlign="start end"
    fxLayoutGap="30px">
    <div class="headerCenter">Login/SignUp</div>
    <div class="headerCenter">Cart</div>
    <div class="headerCenter">Wishlist</div>
  </div>
</mat-toolbar>
<div style="height: 100%; width: 100%;">
  <div style="padding-top: 64px;"></div>
  <div style="height: 4%; width: 100%;" fxLayout="row">
    <div style="height: 100%; width: 100%; padding-left: 20px;" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu2
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu3
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu4
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu5
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"> Menu6
          <mat-icon style="font-size: 20px; padding-top: 2px">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
    <div fxFlex="20%" style="height: 100%; width: 100%; padding-right: 20px" fxLayoutAlign="end center" fxLayout="row">
      <button mat-raised-button color="primary">24/7 Emergency Call</button>
    </div>
  </div>

  <div>
    <app-corasal></app-corasal>
  </div>

  <router-outlet></router-outlet>

  <div style="margin: 60px 0 0 0;">
    <app-footer></app-footer>
  </div>
</div>